  <tr style="display:none" id=<%= "\"hardware_#{hardware.id}\"" %>>      
    <td><%=h hardware.name %>
    <%=h hardware.size %>
    <%=h hardware.forsale %>
    <%=h hardware.quantity %>
    <%=h hardware.instock %>    
    </td>
  </tr>
